<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815623239988-ehiouj67h59378m68rbva6p7agku4cri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815623239988-ehiouj67h59378m68rbva6p7agku4cri</string>
	<key>API_KEY</key>
	<string>AIzaSyCVCYD2YWEIE4V3WvAZq-mcdUWqnPtsGVc</string>
	<key>GCM_SENDER_ID</key>
	<string>815623239988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forzapi.WhereAmI</string>
	<key>PROJECT_ID</key>
	<string>whereami-efbfc</string>
	<key>STORAGE_BUCKET</key>
	<string>whereami-efbfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815623239988:ios:4d1a8807b5ab9595988d61</string>
	<key>DATABASE_URL</key>
	<string>https://whereami-efbfc.firebaseio.com</string>
</dict>
</plist>